.idea
.vscode
__pycache__

/d01_minst手写数字集识别/data/*
/d01_minst手写数字集识别/!data/.gitkeep
/d01_minst手写数字集识别/__pycache__/*


/d02_cifar10数据集分类/data/*
/d02_cifar10数据集分类/.ipynb_checkpoints/*
/d02_cifar10数据集分类/!data/.gitkeep

/d03_微调和特征提取器构建自己的模型/data/*
/d03_微调和特征提取器构建自己的模型/!data/.gitkeep


/d04_循环神经网络的应用案例/data/*
/d04_循环神经网络的应用案例/!data/.gitkeep
/d04_循环神经网络的应用案例/rnn_name_generator.pth

/d05_视觉图像检测基于Mask_R-CNN/data/*
/d05_视觉图像检测基于Mask_R-CNN/__pycache__/*

/d06_人脸检测与识别/data/*
/d06_人脸检测与识别/datas/*

/d07_利用DCGAN生成假脸/data/celeba/*
